
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-text: var(--text);
  --color-text-light: var(--text-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


:root {
  --background: #FFFFFF;
  --text: #242126;
  --text-light: #575757;
}

.dark {
    --background: #232126;
    --text: #c4c5c9;
    --text-light: #969696;
}
